SISAR/SISAR.SolucionWeb/SISAR.SolucionWeb/SISAR.SolucionWeb/SISAR.Web/Service References/UsuarioService/UsuarioService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:49554/UsuarioService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:49554/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49554/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SISAR.WebApplication.UserReference" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UsuarioService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="UsuarioService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="UsuarioService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="Authenticate" />
  </wsdl:message>
  <wsdl:message name="UsuarioService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="UsuarioService_Update_InputMessage">
    <wsdl:part name="parameters" element="Update" />
  </wsdl:message>
  <wsdl:message name="UsuarioService_Update_OutputMessage">
    <wsdl:part name="parameters" element="UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuarioService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:UsuarioService/DoWork" message="UsuarioService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:UsuarioService/DoWorkResponse" message="UsuarioService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="urn:UsuarioService/Authenticate" message="UsuarioService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="urn:UsuarioService/AuthenticateResponse" message="UsuarioService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="urn:UsuarioService/Update" message="UsuarioService_Update_InputMessage" />
      <wsdl:output wsaw:Action="urn:UsuarioService/UpdateResponse" message="UsuarioService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>