SISAR/SISAR.SolucionWeb/SISAR.SolucionWeb/SISAR.WebApplication/Web References/MailReference/SendMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMailTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailToResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailToSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailTo" />
  </wsdl:message>
  <wsdl:message name="SendMailToSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailToResponse" />
  </wsdl:message>
  <wsdl:portType name="SendMailSoap">
    <wsdl:operation name="SendMailTo">
      <wsdl:input message="tns:SendMailToSoapIn" />
      <wsdl:output message="tns:SendMailToSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMailSoap" type="tns:SendMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailTo">
      <soap:operation soapAction="http://tempuri.org/SendMailTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMailSoap12" type="tns:SendMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailTo">
      <soap12:operation soapAction="http://tempuri.org/SendMailTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMail">
    <wsdl:port name="SendMailSoap" binding="tns:SendMailSoap">
      <soap:address location="http://localhost:49539/SISAR.WebService/SendMail.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMailSoap12" binding="tns:SendMailSoap12">
      <soap12:address location="http://localhost:49539/SISAR.WebService/SendMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>